# Virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# PDFs
*.pdf

# IDE/editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
pubsub-debug.log